{% extends 'base.html' %}
{% block content %}
 <table class="equal-width-cols">
    <tr>
        <th  style="font-size: 36px">
    Completed tasks in "List 1"
        </th>
   </tr>
</table>
    <table class="equal-width-cols">
        <tr >
      <th scope="col" >Task</th>
      <th scope="col">Created</th>
      <th scope="col">Due on</th>
      <th scope="col">Owner</th>
       <th scope="col">Mark</th>

    </tr>

	{% for curtask in tasks_list %}
 {% if curtask.mark == False %}

			<td style="color: #598FFB">{{ curtask.task }}</td>
			<td>{{ curtask.created }}</td>
			<td>{{ curtask.due_on }}</td>
			<td >{{ curtask.owner }}</td>
			<td ><div class="status">Not Done</div></td>


       </tr>


        {% endif %}
       {% endfor%}

</table>
    <a href="http://localhost:8000/todos" class="view_complete">View incomplete tasks</a>
{% endblock %}