{% extends 'base.html' %}
{% block content %}
 <table class="equal-width-cols">
    <tr>
        <th  style="font-size: 36px">
    Completed tasks in {{ todo.name }}
        </th>
   </tr>
</table>
    <table class="equal-width-cols">
        <tr >
      <th scope="col" >Task</th>
      <th scope="col">Created</th>
      <th scope="col">Due on</th>
      <th scope="col">Owner</th>
       <th scope="col">Mark</th>

    </tr>

	{% for curtask in tasks_list %}


			<td style="color: #598FFB">{{ curtask.task }}</td>
			<td>{{ curtask.created_date|date:"d/m/Y" }}</td>
			<td>{{ curtask.due_on|date:"d/m/Y"  }}</td>
			<td >{{ curtask.owner }}</td>
			<td ><div class="status">Done</div></td>


       </tr>


       {% endfor%}

</table>
    <a href="http://localhost:8000/{{ todo.id }}/todos" class="view_complete">View incomplete tasks</a>
    <button class="delete">Delete this list</button>
{% endblock %}